

body {
    background: #f5f5f5;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container 
{
     max-width: 95%;
    margin: 20px auto; /*Centre toute la page box-shadow: 0 0 15px rgba(0,0,0,0.1); */
    background: white;
    padding: 30px;
}

/* LE HEADER : bande du haut sur 100% */
.header {
    display: flex;
    background: #e6e0db; /* Beige clair comme l'image */
    align-items: center;
    gap: 30px;
   
}

.img {
    width: 30%; /* Comme la colonne de gauche en dessous */
    margin-left: 10%;
}



.img img{
    width: 380px;
    border-radius: 150px 150px 0 0; /* Effet arrondi en haut comme l'image */
    border: 5px solid white;
    position: relative;
animation: bouger 2s alternate infinite;

}
@keyframes bouger 
{
    from
    {
        right:0 ;
    }
    to 
    {
        right:50px;
    }
}

.titre {
    width: 70%;
}

.titre h1 {
    font-size: 5rem;
    color: #8B6F47; /* Marron clair */

}

.sous_titre {
    display: inline-block;
    background: #5C4A3A; /* Marron foncé */
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 700;
    margin: 10px 100px;
    
}

/* LES 2 COLONNES EN DESSOUS */
.content {
    display: flex;
}

.colonne-gauche {
    width: 30%;
    background: #b8aca1; 
    padding: 30px 20px;

}
.colonne-gauche h2 {
    background: #8e8177;
    color:aliceblue;
    border-radius: 100%;
    text-align: center;
    margin: 4px;
}
.coordonnee img
{
border-radius: 25%;
height: 4%;
width: 6%;
}
hr {
    border: none;
    border-top: 4px dashed #5C4A3A ;
}

.ligne_vertical
{
border-left: 4px dashed #5C4A3A;
height: 900px;
}
.colonne-droite {
    width: 70%;
    padding: 30px;
     font-size: 20px;
     color: #5C4A3A;
}
.colonne-droite h3 {
color: black;
}

.colonne-droite h2 {
    background: #5C4A3A;
    color: rgb(247, 244, 244);
    padding: 8px;
    border-radius: 5px;
    margin: 20px 0 15px 0;
    text-align: center;
}
h3
{
    text-align: center;
}

.qualité p
{
   background: #060606;
    color:aliceblue;
    border-radius: 20%;
    text-align: center;
}
.item {
display: flex;
margin-top: 10px;
}
.max {
    width: 200px;
    background-color:white;
    height: 20px;
    border-radius: 10px;

}
.valeur{
    width: 95%;
    height: 20px;
    background-color: rgb(112, 85, 41);
    border-radius: 10px;
}
.valeur1{
   width: 60%;
    height: 20px;
    background-color: rgb(150, 127, 69);
    border-radius: 10px;  
}
.valeur2 
{
   width: 70%;
    height: 20px;
    background-color: rgb(82, 74, 44);
    border-radius: 10px;
}


   