header {
    background-color: #5C4A3A;
    height: 55px;
}

body {
    width: 100%;
  overflow-x: hidden; /* coupe le débordement à droite */
  margin: 0;
  padding: 0;
    background-color:#e8ddd0;
}

ul {
    display: flex;
    justify-content: center;
    gap: 10%;
    list-style: none;
    padding-top: 1%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
 color: white;
}
.entete {
    text-align: center;
}

h1 {
    font-size: 555%;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.06em;
    animation: fadeInDown 1.2s ease-out;
}

.trait {
    display: flex;
    width: 15%; 
    margin: -3% auto 0 auto;
    align-items: center; /* Aligne le losange verticalement sur la ligne */
    justify-content: center; /* Centre le losange horizontalement */
    height: 1px; 
    background-color: #5C4A3A; 
    animation: stretchLine 1.5s ease-in-out forwards;
}
@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes stretchLine {
    from { width: 0; }
    to { width: 15%; }
}
.losange {
    width: 10px; /* Taille du losange */
    height: 10px;
    background-color:#5C4A3A; /* Même couleur que la ligne */
    transform: rotate(45deg); /* Tourne le carré pour en faire un losange */
    border: 2px solid #fff; /* Optionnel : un petit bord blanc pour bien détacher le losange */
}

.entete2 {
    font-style:italic;
    font-family: 'Dancing Script', 'cursive';
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.03em;
     opacity: 0; /* Invisible au départ */
    animation: slideFromLeft 1.2s ease-out 0.5s forwards; 
}
@keyframes slideFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px); /* Part de 100px à gauche */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Arrive à sa position normale */
    }
}
hr{
    padding: 4px;
    border-top: 4px dashed #31271d ;
    border-bottom: none;
    
}
.section1{
    width: 90%;
    border: 1px solid #5C4A3A;
    justify-content: center;
    margin-left: 77px;
    margin-top: 39px;
    margin-bottom: 91px;
    padding-bottom: 51px;
    padding-top: 41px;
    border-radius: 1%;
    background-color:#b8aca1;
}
button {
    display: inline;
    justify-content: center;
    gap:1%;
    height: 47px;
    border-radius: 7%;
    font-size: 81% ;
    padding: 10px;
    background-color: #5C4A3A;
    margin-top: 33px;
    color: #fff;
}
button:hover{
    color:#e8ddd0 ;
    border:#e8ddd0 ;
    background-color: #5C4A3A;
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.introtext{

}
.introduction {
    max-width: 1333px;
    margin: 0 auto; /* Centre tout le bloc */
    font-family: 'Serif', sans-serif;
    letter-spacing: 1.5px;
    font-style: italic;
     margin-left:5%;
}
.section-vision{
    background-color:#e8ddd0 ;
}
.fond{
  background-color: #b8aca1;
  margin-left:-7%;
  margin-right:-7%;
  padding-left: 7%;
}
h2{
    margin-bottom: 5%;
      font-size: 333%;
      text-align: center;
}
/* Style de la citation avec la barre marron */
.citation {
     border-left: 4px solid #5C4A3A; /*La barre verticale */
    padding-left: 20px;
    margin-top: 3%;
    font-style: italic;
    color: #000;
    font-size: 99%;
    background-color: #f0ebe4;
    padding: 0.5%;
}

/* Alignement des chiffres en bas */
.experience {
     display: flex;
    justify-content:left;
    gap: 10%;
    margin-top: 50px;
    
}

.nombre {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 20%;
    margin-left: 33%;
}

.experience2 {
    letter-spacing: 1.5px;
    line-height: 199%
}

.intro {
    flex-wrap: wrap;
}
.section-vision {
    background-color: #e8ddd0; /* Fond gris clair comme sur l'image */
    padding: 60px 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.grand-titre {
    font-size: 2.5rem;
    font-family: serif;
    margin-bottom: 40px;
    color: #333;
}
.visionetmission {
    display: flex;
    justify-content: center;
    gap: 55px; /* Espace entre les deux blocs */
    flex-wrap: wrap; /* S'adapte sur mobile */
}

/* Style de chaque carte individuelle */
.vimi {
    background-color: #ffffff; /* Fond blanc pur */
    padding: 40px 30px;
    border-radius: 12px; /* Coins arrondis */
    width: 400px;
    text-align: left;
    /* L'ombre qui donne l'effet de profondeur */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
    transition:transform 0.3s ease, box-shadow 0.3s ease;
}
.vimi:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.vimi h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family:'Serif', sans-serif; ;
}

.texte {
    color: #666;
    font-size:111%;
    line-height: 200%;
    color: #000;
}
.realisations{
    display: flex;
    justify-content: center;
    gap: 5%;
    border: 20px rgb(0, 0, 0);
}
.realisations img{
height: 299px;
width:333px;

}
.realisations p{
    text-align: center;
}
.lien hr{
    margin-top: -33px;
    border-top: solid;
    border-bottom: none;
}
.lien {
    border: 2px dashed;
    padding: 1px;  /*pour que l'image ne colle pas aux bords */
    background-color:white; /* pour mettre le fond rectancle en noir */
    text-align: center;
    display: flex;
    flex-direction: column; /* pour que le texte soit en bas de l'image et que ca s'aligne */
    justify-content: space-between;
    border-radius: 2%;
    margin-bottom: 5%;
    margin-top: 3%;
}
.lien:hover {
    transform: translateY(-10px);
    border-color: #5C4A3A;
}
.lien h5 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 95%;
    text-transform: uppercase;  /*pour que le texte soit automatiquement en majuscule */
    margin-bottom: 12%;
    text-overflow: clip;
}
.lien p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 95%;
    text-transform: uppercase;  /*pour que le texte soit automatiquement en majuscule */
    font-style: italic;
    margin-bottom: 12%;
    text-overflow: clip;
    line-height: 199%;
}

.contact-section{
 justify-content: left;
}

.contact-container {
    display: flex;
    justify-content: left;
    gap: 133px;
    max-width: 1000px;
    /* margin: 0 auto; */
}

.contact-info {
    flex: 1;
    text-align: left;
    margin-left: 10%;
    line-height: 133%;
    font-size: 133%;
}

/* Style du formulaire */
.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.contact-form input, .contact-form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    background-color: white;
}

.contact-form textarea {
    height: 120px;
}

/* Le bouton marron spécifique */
.contact-form button {
    background-color: #5C4A3A; /* Ta couleur fétiche */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}


.contact-form button:hover {
    background-color: #5C4A3A; /* Un peu plus foncé au survol */
}
.liste-contact{
    display: block;
}
footer{
    background-color: #5C4A3A;
    height:33px;
    font-size: 111%;
    text-align: center;
    padding: 30px;
}


